In [21]:
#Instalacija python-a i JupiterNB
planet1 = 'earth'
planet2 = 'mars'

planet2, planet1 = planet1, planet2

print(f"new planet 1: {planet1} & new planet 2: {planet2}")

new planet 1: mars & new planet 2: earth

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from dateutil.parser import parse
from datetime import datetime as dt
import ast
import re

# Disable copy warning
pd.options.mode.chained_assignment = None 

# Disable future warnings and user warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [23]:
#Inportujem CSV fajl
manga_df = pd.read_csv('manga.csv')
manga_df = pd.DataFrame(manga_df)
manga_df.head()

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Volumes,Chapters,Status,Published,Genres,Themes,Demographics,Serialization,Author
0,Berserk,9.47,334154,1,1,"670,559","123,574",Unknown,Unknown,Publishing,"Aug 25, 1989 to ?","['Action', 'Adventure', 'Award Winning', 'Dram...","['Gore', 'Military', 'Mythology', 'Psychologic...",['Seinen'],Young Animal,"Miura, Kentarou (Story & Art), Studio Gaga (Art)"
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Run,9.30,157522,2,26,"257,957","43,113",24,96,Finished,"Jan 19, 2004 to Apr 19, 2011","['Action', 'Adventure', 'Mystery', 'Supernatur...",[],"['Seinen', 'Shounen']",Ultra Jump,"Araki, Hirohiko (Story & Art)"
2,Vagabond,9.25,138009,3,15,"368,332","40,575",37,327,On Hiatus,"Sep 3, 1998 to May 21, 2015","['Action', 'Adventure', 'Award Winning']","['Historical', 'Samurai']",['Seinen'],Morning,"Inoue, Takehiko (Story & Art), Yoshikawa, Eiji..."
3,One Piece,9.22,368951,4,3,"603,122","115,123",Unknown,Unknown,Publishing,"Jul 22, 1997 to ?","['Action', 'Adventure', 'Fantasy']",[],['Shounen'],Shounen Jump (Weekly),"Oda, Eiichiro (Story & Art)"
4,Monster,9.15,94806,5,29,"238,291","20,674",18,162,Finished,"Dec 5, 1994 to Dec 20, 2001","['Award Winning', 'Drama', 'Mystery']","['Adult Cast', 'Psychological']",['Seinen'],Big Comic Original,"Urasawa, Naoki (Story & Art)"

In [24]:
#Ovde proveravam koliko ima redova i kolona
n_rows , n_cols = manga_df.shape
print(f'There are {n_rows} rows and {n_cols} columns in the dataset')

There are 10000 rows and 16 columns in the dataset

In [25]:
#Interesovanje za zauzece memorije
manga_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          10000 non-null  object
 1   Score          10000 non-null  float64
 2   Vote           10000 non-null  int64
 3   Ranked         10000 non-null  int64
 4   Popularity     10000 non-null  int64
 5   Members        10000 non-null  object
 6   Favorite       10000 non-null  object
 7   Volumes        10000 non-null  object
 8   Chapters       10000 non-null  object
 9   Status         10000 non-null  object
 10  Published      10000 non-null  object
 11  Genres         10000 non-null  object
 12  Themes         10000 non-null  object
 13  Demographics   10000 non-null  object
 14  Serialization  8211 non-null   object
 15  Author         9985 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 8.3 MB

In [26]:
allCol = manga_df.columns
for column in allCol:
    print(column)

Title
Score
Vote
Ranked
Popularity
Members
Favorite
Volumes
Chapters
Status
Published
Genres
Themes
Demographics
Serialization
Author

In [27]:
#Proveravam duplikate
duplicated_rows = manga_df.duplicated().sum()

if duplicated_rows == 0:
    print('Ovde ima 0 redova koji su duplikati, sto pokazuje da je svaki red unikatan.')
    print('To nam pokazuje da ne moramo nista da radimo po tom pitanju.')
else:
    print(f'Ovde ima {duplicated_rows} redova koji su duplirani pa ih moramo odbaciti.')

Ovde ima 0 redova koji su duplikati, sto pokazuje da je svaki red unikatan.
To nam pokazuje da ne moramo nista da radimo po tom pitanju.

In [28]:
#Proveravam koje su vrste podaci
manga_df.dtypes.to_frame('Data Type')

              Data Type
Title            object
Score           float64
Vote              int64
Ranked            int64
Popularity        int64
Members          object
Favorite         object
Volumes          object
Chapters         object
Status           object
Published        object
Genres           object
Themes           object
Demographics     object
Serialization    object
Author           object

In [29]:
#bolje razumevanje kolone gde je tip podatka object
def open_object_dtype(s):
    dtypes = set()
    dtypes.update(s.apply(type))
    return dtypes

manga_df.apply(open_object_dtype, axis=0)

Title                             {<class 'str'>}
Score                           {<class 'float'>}
Vote                              {<class 'int'>}
Ranked                            {<class 'int'>}
Popularity                        {<class 'int'>}
Members                           {<class 'str'>}
Favorite                          {<class 'str'>}
Volumes                           {<class 'str'>}
Chapters                          {<class 'str'>}
Status                            {<class 'str'>}
Published                         {<class 'str'>}
Genres                            {<class 'str'>}
Themes                            {<class 'str'>}
Demographics                      {<class 'str'>}
Serialization    {<class 'float'>, <class 'str'>}
Author           {<class 'float'>, <class 'str'>}
dtype: object

In [30]:
def describe(manga_df):

    variables = []
    dtypes = []
    count = []
    unique = []
    missing = []
    min_ = []
    max_ = []

    for item in manga_df.columns:
        variables.append(item)
        dtypes.append(manga_df[item].dtype)
        count.append(len(manga_df[item]))
        unique.append(len(manga_df[item].unique()))
        missing.append(manga_df[item].isna().sum())
        
        if manga_df[item].dtypes == 'float64' or manga_df[item].dtypes == 'int64':
            min_.append(manga_df[item].min())
            max_.append(manga_df[item].max())
        else:
            min_.append('Str')
            max_.append('Str')



    output = pd.DataFrame({
        'variable': variables, 
        'dtype': dtypes,
        'count': count,
        'unique': unique,
        'missing value': missing,
        'Min': min_,
        'Max': max_
    })    
        
    return output

In [31]:
Styles = [dict(selector = "caption",
               props = [("color", "white"), 
                        ("text-align", "center"),
                       ('font-size', '15pt'),
                       ('background-color', '#E72B3B')])]

In [32]:
desc_df = describe(manga_df)
desc_df = desc_df.style.set_caption('Overview of the dataset').set_table_styles(Styles)
desc_df.set_properties(**{'background-color': '#F6E7E8',
                           'color': 'black',
                           'border-color': 'black'})

In [40]:
def describe(manga_df):

    menage = []

    for item in manga_df.Status:
        menage.append(item)

        if('Publishing'):
            menage = 0
        elif('Finished'):
            menage = 1
        else:
            menage = 2

print(manga_df)

                                                Title  Score    Vote  Ranked  \
0                                             Berserk   9.47  334154       1
1     JoJo no Kimyou na Bouken Part 7: Steel Ball Run   9.30  157522       2
2                                            Vagabond   9.25  138009       3
3                                           One Piece   9.22  368951       4
4                                             Monster   9.15   94806       5
...                                               ...    ...     ...     ...
9995                                Akumu no Elevator   6.91    1360    9893
9996                                 Seikon Sacrifice   6.91     154    9894
9997                                    Magatsuhi.com   6.91     152    9895
9998                        Yogoreteru Hima nanka Nai   6.91     257    9896
9999                                   Her True Color   6.91     125    9897

      Popularity  Members Favorite  Volumes Chapters      Status  \
0              1  670,559  123,574  Unknown  Unknown  Publishing
1             26  257,957   43,113       24       96    Finished
2             15  368,332   40,575       37      327   On Hiatus
3              3  603,122  115,123  Unknown  Unknown  Publishing
4             29  238,291   20,674       18      162    Finished
...          ...      ...      ...      ...      ...         ...
9995        7448    2,450       12        1        3    Finished
9996       19956      590        1  Unknown  Unknown  Publishing
9997       25767      359        2        3       12    Finished
9998       19831      597        1        3       15    Finished
9999       23482      432        0        9  Unknown    Finished

                           Published  \
0                 Aug  25, 1989 to ?
1     Jan  19, 2004 to Apr  19, 2011
2      Sep  3, 1998 to May  21, 2015
3                 Jul  22, 1997 to ?
4      Dec  5, 1994 to Dec  20, 2001
...                              ...
9995                            2009
9996                  Jul  2009 to ?
9997    Aug  4, 2008 to Aug  4, 2009
9998                       2001 to ?
9999                   Not available

                                                 Genres  \
0     ['Action', 'Adventure', 'Award Winning', 'Dram...
1     ['Action', 'Adventure', 'Mystery', 'Supernatur...
2              ['Action', 'Adventure', 'Award Winning']
3                    ['Action', 'Adventure', 'Fantasy']
4                 ['Award Winning', 'Drama', 'Mystery']
...                                                 ...
9995                                                 []
9996    ['Drama', 'Fantasy', 'Romance', 'Supernatural']
9997                    ['Action', 'Horror', 'Mystery']
9998                               ['Drama', 'Romance']
9999                                                 []

                                                 Themes  \
0     ['Gore', 'Military', 'Mythology', 'Psychologic...
1                                                    []
2                             ['Historical', 'Samurai']
3                                                    []
4                       ['Adult Cast', 'Psychological']
...                                                 ...
9995                                                 []
9996                                                 []
9997                                                 []
9998                                                 []
9999                                                 []

               Demographics          Serialization  \
0                ['Seinen']           Young Animal
1     ['Seinen', 'Shounen']             Ultra Jump
2                ['Seinen']                Morning
3               ['Shounen']  Shounen Jump (Weekly)
4                ['Seinen']     Big Comic Original
...                     ...                    ...
9995             ['Seinen']                  Genzo
9996             ['Shoujo']                  Sylph
9997            ['Shounen']          Shounen Rival
9998             ['Shoujo']                 Cookie
9999             ['Shoujo']                    NaN

                                                 Author
0      Miura, Kentarou (Story & Art), Studio Gaga (Art)
1                         Araki, Hirohiko (Story & Art)
2     Inoue, Takehiko (Story & Art), Yoshikawa, Eiji...
3                           Oda, Eiichiro (Story & Art)
4                          Urasawa, Naoki (Story & Art)
...                                                 ...
9995      Roppongi, Aya (Art), Kinoshita, Hanta (Story)
9996                          Tenkawa, Ai (Story & Art)
9997          Mori, Kazumasa (Story), Inui, Souda (Art)
9998                       Ishida, Takumi (Story & Art)
9999                         Han, Yu-Rang (Story & Art)

[10000 rows x 16 columns]